# Data Scince Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science
- Examples of evaluating arithmetic expressions in Python
- List development environment open source tools used in data science

Some of the popular languages that Data Scientists use are:

1. Python
2. SQL
3. Java
4. Scala

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. SciPy
4. TensorFlow

| Data Science Tools|
|------------------ |           
|Jupyter Notebook   |
|RStudio            |
|Zeppelin Notebook  |

### Below are a few examples of evaluating arithmetic expressions in Python

In [9]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [21]:
#This will convert 200 minutes to hours by diving by 60

minutes = 200
hour = minutes / 60
print( hour)

3.3333333333333335

## Author

Judith Anaab